@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffe4e6;
  margin: 0;
  padding: 0;
  user-select: none;
}

button {
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.95);
}
